{
    "root": true,
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended"
    ],
    "ignorePatterns": [
        "node_modules/"
    ],
    "rules": {
        "array-bracket-newline": [
            "error",
            {
                "multiline": true
            }
        ],
        "array-bracket-spacing": [
            "error",
            "never",
            {
                "singleValue": false
            }
        ],
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "arrow-parens": [
            "error",
            "always"
        ],
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": false
            }
        ],
        "capitalized-comments": [
            "error",
            "always"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "computed-property-spacing": "error",
        "curly": "error",
        "dot-location": [
            "error",
            "property"
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "function-call-argument-newline": [
            "error",
            "never"
        ],
        "function-paren-newline": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "init-declarations": "off",
        "key-spacing": "error",
        "keyword-spacing": "error",
        "linebreak-style": "off",
        "lines-around-comment": [
            "error",
            {
                "allowBlockStart": true,
                "allowClassStart": true,
                "beforeBlockComment": true
            }
        ],
        "lines-between-class-members": [
            "error",
            "always"
        ],
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "multiline-comment-style": [
            "error",
            "starred-block"
        ],
        "no-console": "error",
        "no-magic-numbers": "off",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1,
                "maxBOF": 0,
                "maxEOF": 0
            }
        ],
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^(_|((request|response|next)$))"
            }
        ],
        "no-trailing-spaces": "error",
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "object-property-newline": [
            "error",
            {
                "allowAllPropertiesOnSameLine": true
            }
        ],
        "one-var": [
            "error",
            "never"
        ],
        "padded-blocks": [
            "error",
            "never"
        ],
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "cjs-import",
                "next": "*"
            },
            {
                "blankLine": "any",
                "prev": "cjs-import",
                "next": "cjs-import"
            },
            {
                "blankLine": "always",
                "prev": "*",
                "next": "cjs-export"
            }
        ],
        "prefer-arrow-callback": [
            "error",
            {
                "allowUnboundThis": true
            }
        ],
        "prefer-object-spread": "error",
        "quote-props": [
            "error",
            "as-needed"
        ],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "require-jsdoc": [
            "error",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": true,
                    "ClassDeclaration": true,
                    "ArrowFunctionExpression": true,
                    "FunctionExpression": true
                }
            }
        ],
        "semi": "error",
        "semi-style": [
            "error",
            "last"
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "space-in-parens": [
            "error",
            "never"
        ],
        "sort-keys": "off",
        "sort-imports": "off",
        "sort-vars": "off",
        "valid-jsdoc": [
            "error",
            {
                "matchDescription": ".+"
            }
        ]
    }
}
