{
    "root": true,
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "array-bracket-newline": [
            "error",
            {
                "multiline": true
            }
        ],
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "arrow-parens": [
            "error",
            "always"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "dot-location": [
            "error",
            "property"
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "function-call-argument-newline": [
            "error",
            "never"
        ],
        "function-paren-newline": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "init-declarations": "off",
        "linebreak-style": "off",
        "lines-around-comment": [
            "error",
            {
                "allowClassStart": true,
                "beforeBlockComment": true
            }
        ],
        "lines-between-class-members": [
            "error",
            "always"
        ],
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "no-magic-numbers": "off",
        "no-multiple-empty-lines": "error",
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_"
            }
        ],
        "no-trailing-spaces": "error",
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "one-var": [
            "error",
            "never"
        ],
        "padded-blocks": [
            "error",
            "never"
        ],
        "prefer-arrow-callback": [
            "error",
            {
                "allowUnboundThis": true
            }
        ],
        "quote-props": [
            "error",
            "as-needed"
        ],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "require-jsdoc": [
            "error",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": true,
                    "ClassDeclaration": true,
                    "ArrowFunctionExpression": true,
                    "FunctionExpression": true
                }
            }
        ],
        "semi": "error",
        "semi-style": [
            "error",
            "last"
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "sort-vars": "off",
        "valid-jsdoc": [
            "error",
            {
                "matchDescription": ".+"
            }
        ]
    }
}
