{
    "all": true,
    "include": [
        "lib/**/*.css",
        "lib/**/*.js"
    ],
    "exclude": [
        "lib/main.js",
        "lib/database/migrations/*.js",
        "lib/database/seeders/*.js",
        "test/**/*.js"
    ]
}
