version: "3.7"

services:
  application:
    build:
      target: development
    environment:
      NODE_ENV: development
      DATABASE_LOGGING: "True"
    ports:
      - target: 4000
        published: 4000
    restart: "no"
    volumes:
      - type: bind
        read_only: true
        source: ./lib
        target: /usr/src/app/lib
      - type: bind
        read_only: true
        source: ./spec
        target: /usr/src/app/spec

  database:
    ports:
      - target: 3307
        published: 3307
