# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake files
/CMakeFiles*
/cmake*
Makefile
CMakeCache.txt
cmake_install.cmake

# Dependencies
/cpprestsdk*

# IDE files
.vscode*

# Build files
bookkeeping-api-cpp-example
