name: OpenAPI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  convert:
    runs-on: ubuntu-18.04
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js '14.x'
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Running validator
        run: |
          npm ci
          cd ./spec && ./convert.sh

  validate:
    runs-on: ubuntu-18.04
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Running validator
        run: |
          npx @openapitools/openapi-generator-cli validate -i spec/openapi.yaml
          npx @openapitools/openapi-generator-cli validate -i spec/openapi-source.yaml
      - name: Running validator
        run: |
          npx ibm-openapi-validator@0.44.0 spec/openapi.yaml
          npx ibm-openapi-validator@0.44.0 spec/openapi-source.yaml
